@use '../abstracts/variables';
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
    background: variables.$clr-white;
    color: variables.$clr-grey;
    font-family: variables.$ff-2;
    min-height: 100px;
    padding-top:170px;
}

.pad{
    padding: 1.5rem;
}

header {
    background: variables.$clr-green;
    z-index: 100;
    justify-content: space-between;
    position: fixed;
    display: flex; 
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.container {
    background: variables.$clr-white;
    color: variables.$clr-black;
    margin: 64px;
    border-radius: 20px;
    padding: 64px;
}

.logo-size {
    height: 5.625rem;
    width: 5.625rem;
}

/*Footer*/

footer {
    background-color: variables.$clr-white;
}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
}

.wrap-footer {
    display: grid;
    grid-template-columns: 30% 15% 15% 20%;
    column-gap: 5%;
    padding: 1rem;
    margin: 2rem auto;
    max-width: 1200px;
}

.logo-element_footer {
    display: flex;
    margin: 2rem 0;
}

.logo-element_footer img {
    max-height: 75px;
}

.element-footer h5 {
    margin: 1rem 0;
}

.text-element-footer li {
    line-height: 2;
}

.link-elements-footer li a {
    color: variables.$clr-green;
}

.rrss-element-footer ul {
    display: flex;
    flex-flow: wrap;
}

.rrss-element-footer img {
    width: 35px;
}

.rrss-element-footer li {
    margin-right: 1rem;
}

.footer-creds {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    color: variables.$clr-grey;
    font-size: .9rem;
    max-width: 1200px;
    margin: 0 auto;
}

.legal-creds ul {
    display: flex;
    flex-flow: row;
}

.legal-creds ul li {
    padding-right: 1rem;
}

.legal-creds ul a {
    color: variables.$clr-grey;
    font-size: .9rem;
}

/* Media Queries */

@media (max-width:768px) {
    .wrap-footer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:480px) {
    .wrap-footer {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width:320px) {
    .footer-creds {
        flex-flow: column;
    }
}

@media (max-width: 1000px){
    header{
    flex-direction: column;
    align-items: flex-start;
    }
}