@use '../abstracts/variables';

.title-s {
    font-size: variables.$fs-s;
    font-weight: variables.$fw-s;
}

.title-m {
    font-size: variables.$fs-m;
    font-weight: variables.$fw-m;
    text-decoration: none;
    color: variables.$clr-black;
    font-family: variables.$ff-2;
}

.title-l {
    font-size: variables.$fs-l;
    font-weight: variables.$fw-l;
}

.title-xl {
    font-size: variables.$fs-xl;
    font-weight: variables.$fw-xl;
}

//////////////////////////////////////

.titulo-verde {
    color: variables.$clr-green;
    text-align: center;
    margin-top: 7rem;
}

.titulo-blanco {
    color: variables.$clr-white;
    text-align: center;
}

//////////////////////////////////////

.titulo {
    margin-left: 16px;
}

.titulo h1 {
    font-weight: 700;
    font-size: 36px;
}

.titulo h3 {
    font-weight: 400;
    font-size: 24px;
}