 //Margin and Paddings

$mt-l: 5rem;
$mt-m: 3rem;
$mt-s: 1.5rem;

 //Colors

$clr-white: hsl(300, 3%, 93%);
$clr-green: hsla(150, 16%, 41%);
$clr-green-dark: rgb(66, 88, 78);
$clr-grey: hsla(0, 3%, 34%);
$clr-black: rgb(0, 0, 0);


 //Font size

$ff-primary: 'inter';

$ff-2: 'sans-serif';

$fs-s: 1.50rem;

$fs-m: 1.75rem;

$fs-l: 2.0rem;

$fs-xl: 3.0rem;

 //Font and weight
$fw-s: 200;

$fw-m: 300;

$fw-l: 400;

$fw-xl: 500;
