@use './abstracts/variables';
@use '../abstracts/mixins';

.dificultad {
    background: variables.$clr-grey;
    color: variables.$clr-white;
    text-align: center;
    border-radius: .9375rem;
}

.fondo-log {
    margin-top: -15rem;
    background: linear-gradient(90deg, rgba(51, 59, 55, 1) 9%, rgba(56, 75, 66, 1) 32%, rgba(88, 121, 105, 1) 61%, rgba(198, 225, 231, 1) 100%);
}

.botones-blancos {
    background: variables.$clr-white;
    border-color: variables.$clr-white;
    text-decoration: none;
    color: variables.$clr-grey;
    padding: 0.4em;
    border-radius: .9375rem;
}

.botones-marron {
    background: variables.$clr-grey;
    text-decoration: none;
    border-color: variables.$clr-grey;
    color: variables.$clr-white;
    padding: 0.4em;
    border-radius: .5375rem;
    margin-left: 1.5rem;
}

.botones-verdes {
    background: variables.$clr-green;
    text-decoration: none;
    color: variables.$clr-white;
    text-align: center;
    margin-top: 5rem;
    padding: 0.4em;
    border-radius: .9375rem;
}

.botones-verdes2 {
    background: variables.$clr-green;
    text-decoration: none;
    color: variables.$clr-white;
    text-align: center;
    margin-right: center;
    border-radius: .9375rem;
}

.botones-verdes4 {

    background: variables.$clr-green;
    text-decoration: none;
    position: relative;
    color: variables.$clr-white;
    margin-top: 5%;
    margin-inline: 1.4em;
    height: 10%;
    padding: 0.3em;
    border-radius: .5375rem;
}

.card {
    margin: 10px 10px 10px 10px !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px
}

.card-recipe {
    margin-left: 1%;
    margin-right: 10%;
    width: 450px;
    height: 450px;

}

.recipe-img {
    width: 31.25rem;
}

.card-recipe-crown {
    width: 30px;
    height: 30px;
    margin-left: 1%;
}

.recipe-body {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    width: 1000px;
    height: 500px;
}

.recipe-text {

    margin-right: 7%;
    top: 150px;
    width: 450px;
    height: 450px;

}

// img Usuario

.usuario-enlace {
    border-radius: 50%;
    width: 100%;
    height: 3.5rem;
    width: 3.5rem;
}

//Menu desplegable

.menu_bar {
    display: none;
}

header nav {
    background: variables.$clr-grey;
    z-index: 1000;
    max-width: 62rem;
    width: 10rem;
    border-radius: 40%;
    height: 3.5rem;
    margin-right: 1rem;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    position: relative;
    border-radius: 40%;
}

header nav ul li:hover {
    background: variables.$clr-green-dark;
    border-radius: 40%;
}

header nav ul li a {
    color: variables.$clr-white;
    display: block;
    text-decoration: none;
    padding: 10px;
}

header nav ul li a span {
    margin-right: 10px;
}

header nav ul li:hover .children {
    display: block;
}

header nav ul li .children {
    display: none;
    background: variables.$clr-grey;
    position: absolute;
    width: 125%;
    z-index: 1000;
}

header nav ul li .children li {
    display: block;
    overflow: hidden;
    border-bottom: 1px variables.$clr-grey;
}

header nav ul li .children li a {
    display: block;
}

header nav ul li .children li a span {
    float: right;
    position: relative;
    top: 3px;
    margin-right: 0;
    margin-left: 10px;
}

header nav ul li .caret {
    position: relative;
    top: 3px;
    margin-left: 10px;
    margin-right: 0px;
}

p a {
    color: variables.$clr-green-dark;
}

.projetos {
    display: flex;
    flex-direction: column;
}

.perfil {
    justify-content:flex-start;
    margin-left: 0;
    max-height: 6rem;
}

.perfil-foto {
    border-radius: 28rem;
    max-height: 6rem;
}